<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PG43FZ8F');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registration_numbers.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Registration Numbers</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PG43FZ8F" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div>
        {{{body}}}
    </div>
</body>

<script>

    const alrt = document.querySelector('.alert');
    const valid = document.querySelector('.valid')
    const notValid = document.querySelector('.notValid');
    const alreadyExists = document.querySelector('.alreadyExists');
    const clearButton = document.querySelector(".clear");

    clearButton.addEventListener("click", function () {
        if (confirm("Your data will be permanently deleted")) {
            logic.deleteRegistrations();
        }
    });


    if (alrt.innerText !== "") {
        setTimeout(function () {
            alrt.innerText = '';
        }, 3000);

    }

    if (valid.innerText !== "") {
        setTimeout(function () {
            valid.innerText = '';
        }, 3000);

    }

    if (alreadyExists.innerText !== "") {
        setTimeout(function () {
            alreadyExists.innerText = '';
        }, 3000);

    }

    if (notValid.innerText !== "") {
        setTimeout(function () {
            notValid.innerText = '';
        }, 3000);

    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>

</html>