<body>
    <div class="centerDiv">
        <section class="container">
            <form action="/" method="POST">

                <h1>Registration Numbers</h1>

                <div class="input">
                    <label for="number">Registration Number:</label>
                    <input type="text" name="number" placeholder="Please enter registration" required><br>
                </div>

                <button type="submit" class="addingButton" value="Add">Registration Add</button>
            </form>
            <br>
            <form action="/filter" method="post">
                <label for="city">Select a city:</label>
                <select id="city" name="city">
                    <option value="">All Cities</option>
                    <option value="CA">Cape Town</option>
                    <option value="GP">Johannesburg</option>
                    <option value="ND">Durban</option>
                    <option value="L">Polokwane</option>
                </select>
                <button type="submit">Filter</button>
            </form>

            <br>

            <div>
                <form action="/clear" method="POST">
                    <button type="submit">Clear Database</button>
                </form>
            </div>


        </section>
    </div>


    <div>
        <ul class="d-flex flex-wrap">
            {{#each numberPlate}}

            <li class="plates">{{this.registration_number}}</li>

            {{/each}}
        </ul>
    </div>


    <!-- Display filtered registrations -->
    <h2>Filtered Registration Plates</h2>
    <ul>
        {{#each selectedCity}}
        <li>{{this.registration_number}}</li>
        {{/each}}
    </ul>

    <!-- Flash message for clearing the database -->
    {{#if flash.clr}}
    <div class="alert alert-success">
        {{flash.clr}}
    </div>
    {{/if}}
</body>

</html>