<section class="container">
    <form action="/" method="POST">
        <h1>Registration_numbers</h1>

        <div class="input">
            <label for="textarea">Registration_number:</label>
            <input type="text" class="inputArea" placeholder="Please enter registration"><br>
            <input type="button" class="addingButton" value="Add">
        </div>

        <div class="Towns">

            <label for="Cities">Select city:</label>


            <select name="city" id="city">
                <option value=""></option>
                <option value="Cape_Town">Cape Town</option>
                <option value="Johannesburg">Johannesburg</option>
                <option value="Durban">Durban</option>
                <option value="Polokwane">Polokwane</option>
            </select>
            <input type="button" class="DisplayBtn" value="Display">
        </div>

        <div class="registationPlate">

        </div>
    </form>
</section>