<body>
    <div class="centerDiv">
        <section class="container">
            <form action="/" method="POST">

                <h1>Registration Numbers</h1>

                <div class="input">

                    <label for="number">Registration Number:</label>
                    <input type="text" name="number" placeholder="Please enter registration" required><br>
                    <!-- Flash message for invalid -->
                    <div class="alert alert-success invalid">
                        {{#if messages.alrt}}
                        <p class="messages" style="color: green;">{{messages.alrt}}</p>
                        {{/if}}

                        {{#if messages.invalid}}
                        <p class="messages" style="color: red;">{{messages.invalid}}</p>
                        {{/if}}
                    </div>
                </div>

                <button type="submit" class="addingButton" value="Add">Registration Add</button>
            </form>
            <div>
                <ul class="d-flex flex-wrap">
                    {{#each numberPlate}}

                    <li class="plates">{{this.registration_number}}</li>

                    {{/each}}
                </ul>
            </div>
            <br>
            <form action="/filter" method="POST">
                <div>
                    <label for="city">Filter by City:</label>
                    <select name="city" id="filterCity" required>
                        <option value=""></option>
                        <option value="">All</option>
                        <option value="CA">Cape Town</option>
                        <option value="CY">Bellville</option>
                        <option value="ND">Durban</option>
                        <option value="CJ">Paarl</option>
                    </select>
                </div>
                <br>
                <button type="submit" class="DisplayBtn" value="Display">Registration filter</button>
            </form>

            <!-- Display filtered registrations -->
            <h2>Filtered Registrations</h2>
            <ul class="d-flex flex-wrap">
                {{#each filteredPlates}}
                <li class="plates">{{this.registration_number}}</li>
                {{/each}}
            </ul>

            <!-- Flash message for clearing the database -->
            <div class="d-flex flex-wrap">
                <form action="/clear" method="POST">
                    <button type="submit">Clear Database</button>
                </form>
            </div>


        </section>
    </div>




</body>

</html>