* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

div {
    margin-top: 20px;
}

.addingButton,.DisplayBtn {
    padding: 3px 22px;
    border-radius: 3px;
    border: none;
    background-color: rgb(11, 149, 149);
    color: black;
}

a {
    text-decoration: none;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

select {
    height: 30px;
    width: 250px;
    text-align: center;
    font-weight: bolder;
  }


.plates{
    background-color: yellow;
    color: black;
    text-align: center;
    border-radius: 5%;
    height: 35px;
    width: 150px;
    margin: 10px;
    border: solid black 3.5px;
    text-decoration: none;
}

