* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://www.toliasedition.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/2/0/20230201_145436.jpg") center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

h1 {
    text-align: center;
    border: 1px solid black;
}

label {
    color: white;
}

.input {
    margin: 0 auto;
}

.addingButton {
    margin-top: 15px;
    color: white;
    background: royalblue;
}

.DisplayBtn {
    margin-top: 15px;
    color: white;
    background: royalblue;
}